I create this file to read error and test tables.:) you didn't need this.

In [1]:
import pandas as pd
import configparser
import boto3
import json

In [51]:
import configparser
config = configparser.ConfigParser()
config.read_file(open('dwh.cfg'))

ACCESS_KEY              = config.get('AWS','ACCESS_KEY')
SECRET_KEY              = config.get('AWS','SECRET_KEY')

LOG_DATA                = config.get("S3","LOG_DATA")
LOG_JSONPATH            = config.get("S3","LOG_JSONPATH")
SONG_DATA               = config.get("S3","SONG_DATA")

HOST                    = config.get("CLUSTER","HOST")
DB_NAME                 = config.get("CLUSTER","DB_NAME")
DB_USER                 = config.get("CLUSTER","DB_USER")
DB_PASSWORD             = config.get("CLUSTER","DB_PASSWORD")
DB_PORT                 = config.get("CLUSTER","DB_PORT")

ARN= config.get("IAM_ROLE", "ARN")

(DB_USER, DB_PASSWORD, DB_NAME)

pd.DataFrame({"Param":
                  ["ACCESS_KEY"," SECRET_KEY", "LOG_DATA", "LOG_JSONPATH", "SONG_DATA", "HOST", "DB_NAME", "DB_USER", "DB_PASSWORD", "DB_PORT"],
              "Value":
                  [ACCESS_KEY, SECRET_KEY, LOG_DATA, LOG_JSONPATH, SONG_DATA, HOST, DB_NAME, DB_USER, DB_PASSWORD, DB_PORT]
             })

          Param                                              Value
0    ACCESS_KEY                                        ***********
1    SECRET_KEY                                        ***********
2      LOG_DATA                         s3://udacity-dend/log_data
3  LOG_JSONPATH               s3://udacity-dend/log_json_path.json
4     SONG_DATA                        s3://udacity-dend/song_data
5          HOST  khanomgol.cpovghv6fcxd.us-west-2.redshift.amaz...
6       DB_NAME                                                dev
7       DB_USER                                          khanomgol
8   DB_PASSWORD                                        ***********
9       DB_PORT                                               5439

In [4]:
import boto3

ec2 = boto3.resource('ec2',
                       region_name="us-west-2",
                       aws_access_key_id=ACCESS_KEY,
                       aws_secret_access_key=SECRET_KEY
                    )

s3 = boto3.resource('s3',
                       region_name="us-west-2",
                       aws_access_key_id=ACCESS_KEY,
                       aws_secret_access_key=SECRET_KEY
                   )

iam = boto3.client('iam',aws_access_key_id=ACCESS_KEY,
                     aws_secret_access_key=SECRET_KEY,
                     region_name='us-west-2'
                  )

redshift = boto3.client('redshift',
                       region_name="us-west-2",
                       aws_access_key_id=ACCESS_KEY,
                       aws_secret_access_key=SECRET_KEY
                       )

In [5]:
song_data_objects =  s3.Bucket("udacity-dend").objects.filter(Prefix="song_data").limit(5)
for x in song_data_objects:
    print(x)

s3.ObjectSummary(bucket_name='udacity-dend', key='song_data/')
s3.ObjectSummary(bucket_name='udacity-dend', key='song_data/A/A/A/TRAAAAK128F9318786.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='song_data/A/A/A/TRAAAAV128F421A322.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='song_data/A/A/A/TRAAABD128F429CF47.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='song_data/A/A/A/TRAAACN128F9355673.json')

In [6]:
log_data_objects =  s3.Bucket("udacity-dend").objects.filter(Prefix="log_data").limit(5)
for x in log_data_objects:
    print(x)

s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-01-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-02-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-03-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-04-events.json')

In [7]:
%load_ext sql

In [8]:
conn_string="postgresql://{}:{}@{}:{}/{}".format(DB_USER, DB_PASSWORD, HOST, DB_PORT, DB_NAME)
print(conn_string)
%sql $conn_string

postgresql://khanomgol:CHoPiTFunGeHENTO1@khanomgol.cpovghv6fcxd.us-west-2.redshift.amazonaws.com:5439/dev

'Connected: khanomgol@dev'

In [9]:
#%%sql 
#Select * From stl_load_errors

In [10]:
staging_events_table_drop = "DROP TABLE IF EXISTS staging_events;"
staging_songs_table_drop = "DROP TABLE IF EXISTS staging_songs;"
songplay_table_drop = "DROP TABLE IF EXISTS songplay;"
user_table_drop = "DROP TABLE IF EXISTS users;"
song_table_drop = "DROP TABLE IF EXISTS song;"
artist_table_drop = "DROP TABLE IF EXISTS artist;"
time_table_drop = "DROP TABLE IF EXISTS time;"

In [11]:
staging_events_table_create= ("""
CREATE TABLE IF NOT EXISTS staging_events
(
    artist           varchar,
    auth             varchar,
    first_name       varchar,
    gender           varchar,
    item_in_session  varchar,
    last_name        varchar,
    length           numeric(18,0),
    level            varchar,
    location         varchar,
    method           varchar,
    page             varchar,
    registration     numeric(18,0),
    session_id       integer,
    song             varchar,
    status           integer,
    ts               bigint,
    user_agent       varchar,
    user_id          integer
);
""")

staging_songs_table_create = ("""
CREATE TABLE IF NOT EXISTS staging_songs
(
    num_songs        integer,
    artist_id        varchar,
    artist_latitude  numeric(18,0),
    artist_longitude numeric(18,0),
    artist_location  varchar,    
    artist_name      varchar,
    song_id          varchar,
    title            varchar,
    duration         numeric(18,0),
    year             integer
);
""")

songplay_table_create = ("""
CREATE TABLE IF NOT EXISTS songplay
(
    songplay_id      int          IDENTITY(0,1),
    ts               bigint       NOT NULL,
    user_id          integer      NOT NULL,
    level            varchar,
    song_id          varchar      NOT NULL,
    artist_id        varchar      NOT NULL,
    session_id       integer,
    location         varchar,
    user_agent       varchar,
    PRIMARY KEY(songplay_id)
) DISTKEY(user_id) SORTKEY(user_id);
""")

user_table_create = ("""
CREATE TABLE IF NOT EXISTS users
(
    user_id         integer,
    first_name      varchar       NOT NULL,
    last_name       varchar,
    gender          varchar,
    level           varchar,
    PRIMARY KEY(user_id)
) DISTKEY(user_id) SORTKEY(user_id);
""")

song_table_create = ("""
CREATE TABLE IF NOT EXISTS song
(
    song_id         varchar       NOT NULL,
    artist_id       varchar       NOT NULL,
    title           varchar,
    duration        numeric(18,0) NOT NULL,
    year            integer       NOT NULL,
    PRIMARY KEY(song_id)
) DISTKEY(artist_id) SORTKEY(artist_id);
""")

artist_table_create = ("""
CREATE TABLE IF NOT EXISTS artist
(
    artist_id        varchar,
    artist_name      varchar,
    location         varchar,
    artist_latitude  numeric(18,0),
    artist_longitude numeric(18,0),
    PRIMARY KEY(artist_id)
) DISTKEY(artist_id) SORTKEY(artist_id);
""")

time_table_create = ("""
CREATE TABLE IF NOT EXISTS time
(
    ts       bigint,
    hour             integer          NOT NULL,
    day              integer          NOT NULL,
    week             integer          NOT NULL,
    month            integer          NOT NULL,
    year             integer          NOT NULL,
    weekday          integer          NOT NULL,
    PRIMARY KEY(ts)
) DISTSTYLE ALL;
""")

In [12]:
config = configparser.ConfigParser()
config.read('dwh.cfg')
DWH_ROLE_ARN= config.get('IAM_ROLE','ARN')
#LOG_DATA= config.get('S3','LOG_DATA')
#LOG_JSONPATH= config.get('S3','LOG_JSONPATH')
SONG_DATA= config.get('S3','SONG_DATA')

In [13]:
staging_events_copy = ("""
COPY staging_events
FROM '{}'
credentials 'aws_iam_role={}'
compupdate off region 'us-west-2'
json '{}'
BLANKSASNULL
EMPTYASNULL maxerror 50000;
""").format(config['S3']['LOG_DATA'], config['IAM_ROLE']['ARN'], config['S3']['LOG_JSONPATH'])

staging_songs_copy = ("""
COPY staging_songs
FROM '{}'
credentials 'aws_iam_role={}'
compupdate off region 'us-west-2'
format as json 'auto'
BLANKSASNULL
EMPTYASNULL maxerror 50000;
""").format(SONG_DATA, DWH_ROLE_ARN)

In [48]:
# FINAL TABLES

songplay_table_insert = ("""
INSERT INTO songplay(ts,
                     user_id,
                     level,
                     song_id,
                     artist_id,
                     session_id,
                     location,
                     user_agent)
SELECT  staging_events.ts,
        staging_events.user_id,
        staging_events.level,
        staging_songs.song_id,
        staging_songs.artist_id, 
        staging_events.session_id, 
        staging_events.location, 
        staging_events.user_agent 
FROM staging_events JOIN staging_songs ON 
    (staging_events.artist=staging_songs.artist_name AND staging_events.song=staging_songs.title)
WHERE page='NextSong' and user_id is NOT NULL;
""")

user_table_insert = ("""
INSERT INTO users (user_id,
                  first_name, 
                  last_name, 
                  gender, 
                  level)
SELECT DISTINCT user_id,
                first_name,
                last_name,
                gender,
                level 
FROM staging_events
WHERE page = 'NextSong';
""")

song_table_insert = ("""
INSERT INTO song (song_id,
                  artist_id,
                  title,
                  duration,
                  year)
SELECT DISTINCT song_id,
                artist_id,
                title,
                duration,
                year 
FROM staging_songs;
""")

artist_table_insert = ("""
INSERT INTO artist( artist_id,
                    artist_name,
                    location,
                    artist_latitude,
                    artist_longitude)
SELECT DISTINCT artist_id,
                artist_name,
                location,
                artist_latitude,
                artist_longitude 
FROM staging_events
JOIN staging_songs ON
    (staging_events.artist =staging_songs.artist_name)
WHERE page = 'NextSong';
""")

time_table_insert = ("""
INSERT INTO time(ts,
                 hour,
                 day,
                 week,
                 month,
                 year,
                 weekday)
SELECT DISTINCT ts,
                extract(hour from TIMESTAMP 'epoch' + ts/1000 * INTERVAL '1 second'),
                extract(day from TIMESTAMP 'epoch' + ts/1000 * INTERVAL '1 second'),
                extract(week from TIMESTAMP 'epoch' + ts/1000 * INTERVAL '1 second'),
                extract(month from TIMESTAMP 'epoch' + ts/1000 * INTERVAL '1 second'),
                extract(year from TIMESTAMP 'epoch' + ts/1000 * INTERVAL '1 second'),
                extract(weekday from TIMESTAMP 'epoch' + ts/1000 * INTERVAL '1 second')
FROM staging_events;
""")

In [15]:
create_table_queries = [staging_events_table_create, staging_songs_table_create, songplay_table_create, user_table_create, song_table_create, artist_table_create, time_table_create]
drop_table_queries = [staging_events_table_drop, staging_songs_table_drop, songplay_table_drop, user_table_drop, song_table_drop, artist_table_drop, time_table_drop]
copy_table_queries = [staging_events_copy, staging_songs_copy]
insert_table_queries = [songplay_table_insert, user_table_insert, song_table_insert, artist_table_insert, time_table_insert]

In [16]:
import psycopg2

In [17]:
def drop_tables(cur, conn):
    for query in drop_table_queries:
        cur.execute(query)
        conn.commit()


def create_tables(cur, conn):
    for query in create_table_queries:
        cur.execute(query)
        conn.commit()

In [18]:
config = configparser.ConfigParser()
config.read('dwh.cfg')

['dwh.cfg']

In [19]:
conn = psycopg2.connect("host={} dbname={} user={} password={} port={}".format(*config['CLUSTER'].values()))
cur = conn.cursor()

In [37]:
drop_tables(cur, conn)

InternalError: current transaction is aborted, commands ignored until end of transaction block

In [21]:
create_tables(cur, conn)

In [22]:
conn.close()

In [24]:
config = configparser.ConfigParser()
config.read('dwh.cfg')

conn = psycopg2.connect("host={} dbname={} user={} password={} port={}".format(*config['CLUSTER'].values()))
cur = conn.cursor()

In [25]:
cur.execute(staging_events_copy)
conn.commit()

In [26]:
cur.execute(staging_songs_copy)
conn.commit()

In [49]:
# songplay_table_insert, user_table_insert, song_table_insert, artist_table_insert, time_table_insert]        cur.execute(query)
cur.execute("""rollback;""")
conn.commit()

In [50]:
cur.execute(artist_table_insert)
conn.commit()